@import 'materialize-css';

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 1 100%;
}

.modal_folder {
  margin-top: 20px;
}

.block_center {
  margin-left: auto;
  margin-right: auto;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor {
  cursor: pointer;
}

table tr td {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
table tr td a {
  display: block;
}

a {
  color: inherit;
}
